*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf");
}
:root{
    --primary-blue:#4772fa;
}
body{
    font-family: "Roboto",system-ui, -apple-system;
}

.body-container{
    color: #343434;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    min-height: 100vh;
}
/* main-side */
.main-side{
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
}
.main-header{
    padding:20px 10px 30px 36px;
    display: flex;
    gap: 15px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.main-header p:nth-child(2){
    font-size: 1.6rem;
     
}
.main-header .icon{
    width: 32px;
    height: 32px;
    opacity: 0.48;
}
.add-link{
    display: flex;
    padding: 5px 10px 5px 30px;
    gap: 12px;
    align-items: center;
    background-color:rgba(25,25,25,0.067) ;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
}
 
.add-link .plus{
    opacity: 0.48;
    font-size: 1.89rem;
}
.add-link .add-para{
    font-size: 1rem;
    color: rgba(0,0,0,0.57);
}
.time-cont{
margin-bottom: 20px;
padding-left:20px;
}
.time-cont>p{
     background-color: rgba(25,25,25,0.067);
     border-radius: 8px;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 5px;
}
.time-cont>p:hover{
    background-color: rgba(25,25,25,0.067);
    border-radius: 8px;
}
 .time-cont .time-para{
    font-size: 0.98rem;
 }
/* to toggle hide all task containers */
.hidden .task{
    display: none;
    transition:  all 0.13s ease-in-out;
}
.hidden span.icon{
    transform: rotate(180deg);
    transition: all 0.18s linear;
}
.hidden .menu-para{
     background-color: transparent;
}
.task-container{
    margin-bottom: 10px;
}
.task{
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 10px auto;
  padding:  14px 10px;
  cursor: pointer;
  border-radius: 8px;

}
.task input{
    width: 1.1rem;
}
.task:hover{
      background-color: rgba(25,25,25,0.067);
}
.task .task-name{
    text-transform: capitalize;
  font-size: 1rem;
   flex: 1;
}
/* task overdue*/
.overdue .task-name{
    text-decoration: line-through;
}

/* active task */
.task.active-task{
    background-color: rgba(25,25,25,0.067);
}
.today-cont .time-para{
    color: #e31111;

}
.tomorrow-cont .time-para{
    color: var(--primary-blue);
}
.all-cont .time-para{
    color:green;
}
.task-del-dialog{
    width: 450px;
    height: 180px;
    margin: 90px auto;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    outline: none;
    color: #333;
    font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 10px 0px 20px;
}
.task-del-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.task-del-dialog::backdrop{
    background: rgba(0, 0, 0, 0.45);
}
.task-del-dialog h3{
     text-align: center;
    padding-top: 15px;
     font-size: 1.15rem;
     line-height: 1.7;
}
.task-del-dialog button{
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 7px;
    color: #fff;
    width: 80px;
    height: 30px;
    cursor: pointer;
    outline:none;
    font-size: 0.91rem;
}
.task-del-dialog .btns{
    display: flex;
    justify-content: space-around;
}
.task-del-dialog .ok-del-task{
    background-color: green;
}
.task-del-dialog .no-del-task{
    background-color: #e31111;
}



/* ================================== */
/* left-side */
.side-left .count{
     color: rgb(84, 84, 84,0.8);
}
.side-left{
     padding: 0px 15px;
}
.user-container{
    background-color: #fff;
     z-index: 10;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 15px;
     position: sticky;
    top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.icon-cont{
    display: flex;
    gap: 7px;
   align-items: center;
}
.icon-cont p{
    font-size: 1.15rem;
}
#avatar{
    width: 30px;
    height: 30px;
    fill: var(--primary-blue);
}
#logo{
    margin-top: 7px;
    width: 31px;
    height: 31px;
    fill: var(--primary-blue);
}
.timeline{
    border-bottom: 1px solid rgba(100,100,100,0.38);
    padding-bottom: 18px;
}
.time{
    align-items: center;
    display: flex;
    gap: 6px;
    cursor: pointer;
    margin-top: 5px;
    padding:10px 6px;
}
.time:hover{
    background-color: rgba(25, 25, 25, .067);
    border-radius: 8px;
}
.time .text{
    font-size: 0.98rem;
}
.time .count{
    flex: 1;
    text-align: right;
    color: rgb(84, 84, 84,0.8);
     font-size: 0.9rem;
}
.cal-icon{
    width: 24px;
    height: 24px;
    fill: #515151;
}
.header{
    margin-top: 10px;
    padding: 10px 6px;
    cursor: pointer;
}
.header:hover{
      background-color: rgba(25, 25, 25, .067);
    border-radius: 8px;
}
.header:focus{
    color: var(--primary-blue);
}
.header span{
    font-size: 1.4rem;
    margin-right: 8px;
}
.header p{
    font-size: 1rem;
}

.project-container{
    padding: 15px 0px;
    border-bottom: 1px solid rgba(100,100,100,0.38);;
}
.proj{
    display: flex;
   cursor: pointer;
   padding: 10px 6px;
   align-items: center;
   margin-bottom: 10px;
}
.proj:hover{
    background-color: rgba(25, 25, 25, .067);
    border-radius: 8px;
}

.proj .count{
    flex: 1;
    text-align: right;
    font-size: 0.9rem;
}
.indicator{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
.proj-icon{
    width: 22px;
    height: 22px;
}
 .active{
    background-color: rgba(25, 25, 25, .1);
    border-radius: 8px;
}
 .active .indicator{
    color: var(--primary-blue);
 }
.title-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px; 
}

.myproj{
    padding: 10px 6px;
    cursor: pointer;
}
.myproj:hover{
background-color: rgba(25, 25, 25, .067);
    border-radius: 8px;
}

.myproj .hash{
    font-size: 1.3rem;
}
.myproj .name{
    font-size: 0.98rem;
}
.myproj .left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.myproj .count{
    flex: 1;
    text-align: right;
     font-size: 0.9rem;
}
.proj-del-dialog{
    width: 450px;
    height: 180px;
    margin: 90px auto;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    outline: none;
    color: #333;
    font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 10px 0px 20px;
}
.del-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.proj-del-dialog::backdrop{
    background: rgba(0, 0, 0, 0.45);
}
.proj-del-dialog h3{
     text-align: center;
    padding-top: 15px;
     font-size: 1.15rem;
     line-height: 1.7;
}
.proj-del-dialog button{
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 6px;
    color: #fff;
    width: 80px;
    height: 30px;
    cursor: pointer;
    outline:none;
    font-size: 0.9rem;
}
.proj-del-dialog .btns{
    display: flex;
    justify-content: space-around;
}
.proj-del-dialog .ok-del{
    background-color: green;
}
.proj-del-dialog .no-del{
    background-color: #e31111;
}
.proj-input{
    display: none;
    gap: 8px;
    margin: 10px 0px;
    align-items: center;
}
.proj-input input{
    outline: none;
    font-size: 1rem;
    color: #535353;
    border: none;
    border-bottom: 1px solid rgba(40,40,40,0.7);  
    padding: 14px 10px 10px;
    width: 70%;
     background-color: rgba(200,200,200,0.067);
    flex: 1;
}
.proj-input input:focus{
    color: #333;
}
.proj-input p{
   font-size: 1.1rem;
   cursor: pointer;
   margin-left: 10px;
}
.proj-input .yes{
    color: var(--primary-blue);
}
.proj-input .no{
    color: #e31111;
}
#task-form{
  outline: none;
  border: none;
  border-radius: 9px;
  padding: 30px 34px 8px 15px;
  width: 570px;
  color: #333;
  font-family: "Roboto";
  margin: 50px auto;
}
#task-form::backdrop{
    background: rgba(0, 0, 0, 0.45);
}
.task-form-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.task-form-cont div{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
   
}
.task-form-cont input{
     outline: none;
     border: 1px solid #7d7d7d;
     padding: 8px;
     border-radius: 8px;
}
 
.task-form-cont label{
    font-size: 1.1rem;
    cursor: pointer;
}
.proj-options{
    padding: 8px;
     border: 1px solid #7d7d7d;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
.proj-options option{
    font-size: 0.98rem;
}

.task-btns{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 7px;
}
.task-btns button{
    width: 80px;
    padding: 6px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    color: #fff;
}

.task-btns .add{
    background-color: green;
}
.task-btns .cancel{
    background-color: #e31111;
  margin-left: auto;
}
label[for="task-date"]{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#uniq{
    font-size: 0.76rem;
}
 
/* right side bar style */
.side-right{
     padding: 0px 15px;
}
.right-head{
     background-color: #fff;
     z-index: 10;
     margin-bottom: 15px;
     position: sticky;
    top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.6rem;

}
.todoInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
#todoInp{
    outline: none;
    font-size: 0.89rem;
    color: #535353;
    border: 1px solid #444;
    border-radius: 8px;
    border-bottom: 1px solid rgba(40,40,40,0.7);  
    padding: 9px;
    width: 70%;
    background-color: rgba(200,200,200,0.067);
    flex: 1;
}
#add-todo{
    cursor: pointer;
    padding: 9px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: #fff;
    font-size: 0.89rem;
    width: 50px;
}
.task-title-header{
     display: flex;
     align-items: center;
     margin-top: 15px;
     padding: 20px;
    
}
.side-title{
    font-size: 1.33rem;
    font-weight:600;
    flex: 1;
    text-transform: capitalize;
}
 
.side-time  {
    font-size: 1.1rem;
    color: hsl(0, 86%, 48%);
    text-transform:capitalize ;
}
.todo-container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1rem;
    list-style: decimal!important;
    padding: 5px 10px 10px 30px;
     
}
.todo-container li{
    display:flex;
    gap: 9px;
}
.todo-container>li>.del-todo{
    display: none;
}
.todo-container>li:hover>.del-todo{
    display: block;
}

.todo-container li:hover{
    cursor: pointer;
    color: green;
}
.todo-container .todo-para{
    text-align: left;
    flex: 1;
}
.tick{
    font-weight: bold;
}

/* filtering right */
.hidden-right .side-all-cont{
    display: none;
}